{% extends "project/base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h1 class="mb-5">ProFlow</h1>
    </div>
    <div class="col text-end">
        <span class="material-symbols-outlined" style="cursor: pointer;">
            filter_list
        </span>
    </div>
</div>

{% load crispy_forms_tags %}
<div class="row filter_list">
    <div class="col">
        <form method="GET">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ filter.form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Apply</button>
            </div>
        </form>
    </div>
</div>
<div class="container">
    {% for project in filter.qs %}
        <div class="card text-center mx-auto mb-3" style="max-width: 30rem;">
            {% if project.status == 'Inactive' or project.status == 'inactive' %}
                <div class="card-header text-light bg-danger">{{ project.status | capfirst }}</div>
            {% elif project.status == "Active" or project.status == 'active' %}
                <div class="card-header bg-warning">{{ project.status | capfirst }}</div>
            {% else %}
                <div class="card-header bg-success">{{ project.status | capfirst }}</div>
            {% endif %}
            <div class="card-body">
            <h5 class="card-title"><a class="nav-link text-dark" href="{% url 'project-detail' project.id %}">{{ project.name }}</a></h5>
            <p class="card-text">{{ project.description }}</p>
            </div>
            <div class="card-footer text-body-secondary">
                {% if project.status == 'Inactive' or project.status == 'inactive' %}
                    <small class="text-muted">Starts: {{ project.start_date|date:'dS F Y' }}</small>
                {% elif project.status == "Active" or project.status == 'active' %}
                    <small class="text-muted">Due: {{ project.due_date|date:'dS F Y' }}</small>
                {% else %}
                    <small class="text-muted">Completed on: {{ project.due_date|date:'dS F Y' }}</small>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
<span class="material-symbols-outlined add" data-url="{% url 'project-create' %}" onclick="redirectToUrl(this)">
    add_circle
</span>

{% endblock content %}