{% extends "project/base.html" %}
{% block content %}
<div class="container">
    <div class="row mb-2">
        <div class="col">
            <h2>{{ object.name }}</h2>
            {% if object.status == 'Inactive' or object.status == 'inactive' %}
                <div class="text-danger"><h3>{{ object.status | capfirst }}</h3></div>
            {% elif object.status == "Active" or project.status == 'active' %}
                <div class="text-warning"><h3>{{ object.status | capfirst }}</h3></div>
            {% else %}
                <div class="text-success"><h3>{{ object.status | capfirst }}</h3></div>
            {% endif %}
            <h5>Priority Status: {{ object.priority | capfirst }}</h5>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <p>{{ object.description }}</p>
        </div>
        <div class="col">
            {% if object.status == 'Inactive' or object.status == 'inactive' %}
                <p>Starts: {{ object.start_date|date:'dS F Y' }}</p>
                <p>Due: {{ object.due_date|date:'dS F Y' }}</p>
            {% elif object.status == "Active" or project.status == 'active' %}
                <p>Started: {{ object.start_date|date:'dS F Y' }}</p>
                <p>Due: {{ object.due_date|date:'dS F Y' }}</p>
            {% else %}
                <p>Started: {{ object.start_date|date:'dS F Y' }}</p>
                <p>Completed on: {{ object.due_date|date:'dS F Y' }}</p>
            {% endif %}
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            {% if object.created_by == user %}
              <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'project-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'project-delete' object.id %}">Delete</a>
              </div>
            {% endif %}
        </div>

    </div>
    <div class="row mb-2">
        <div class="col">
            <h3>Team</h3>
            {{ object.team.name }}
            
        </div>
    </div>
    <div class="row mb-2">
            <h3>Tasks</h3>
            {% for task in tasks %}

                {% if task.status == "completed" %}
                    <div class="card mb-2 text-success">
                {% elif task.status == "todo" %}
                    <div class="card mb-2 text-danger">
                {% else %}
                    <div class="card mb-2 text-warning">
                {% endif %}
                        <div class="card-body col">
                            <h5 class="card-title">{{ task.name }}</h5>
                            <p class="card-text">{{ task.description }}</p>
                                {% for user in task.assigned_users.all %}
                                    <img style="border-radius: 50%; object-fit: cover; object-position: center center;" class="rounded-circle account-img" src="{{ user.profile.image.url }}" width="50" height="50" alt="{{ user.username }} Profile">
                                {% endfor %}
                        </div>
                        {% if task.status == "active" %}
                            <div class="card-body col">
                                <form method="post" action="{% url 'task-complete' task.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-secondary btn-sm mt-1 mb-1">
                                        <span class="material-symbols-outlined">
                                            select_check_box
                                        </span>
                                    </button>
                                </form>
                            </div>
                            <div class="col">
                                
                            </div>
                        {% endif %}
                        
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'task-update' task.id %}">Update Task</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'task-delete' task.id %}">Delete Task</a>
                        </div>
                    </div>

            {% endfor %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'task-create' object.id %}">Add Task</a>
    </div>
</div>
{% endblock content %}