{% extends "project/base.html" %}
{% block content %}
    <div class="container py-5">
        <img style="border-radius: 50%; object-fit: cover; object-position: center center;" class="rounded-circle account-img" src="{{ chat.image.url }}" width="100" height="100" alt="{{ chat.name }} Picture">

        <div class="row">
            <h4>{{ chat.name }}</h4>
            <span class="material-symbols-outlined" data-url="{% url 'chat-update' chat.id %}" onclick="redirectToUrl(this)">
                edit
            </span>
        </div>

        <div class="col-4">
            {% for user in chat.users.all %}
            <img style="border-radius: 50%; object-fit: cover; object-position: center center;" class="rounded-circle account-img" src="{{ user.profile.image.url }}" width="50" height="50" alt="{{ user.username }} Profile">
            {{ user.username }}
            {% endfor %}
        </div>
        
        
        <!-- Chat -->


        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-6">
                <div class="card" id="chat1" style="border-radius: 15px;">
                    <div class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0" style="border-top-left-radius: 15px border-top-right-radius: 15px;">
                        <p class="mb-0 fw-bold">{{ chat.name }}</p>
                    </div>
                    <div class="card-body" id="chat-messages" style="height: 600px; overflow-y: auto;">
                        
                        {% for message in chat_messages %}
                            {% if message.user == user %}
                                <div class="d-flex flex-row justify-content-end mb-4">
                                    <img style="border-radius: 50%; object-fit: cover; object-position: center center;" class="rounded-circle account-img" src="{{ message.user.profile.image.url }}" width="45px" height="45px" alt="{{ message.user.username }} Profile">
                                    <div class="p-3 me-3 bg-warning" style="border-radius: 15px;">
                                        <p class="mb-0">{{ message.content }}</p>
                                        <small class="timestamp text-muted text-end">{{ message.timestamp }}</small>
                                    </div>
                                </div>
                            {% else %}
                                <div class="d-flex flex-row justify-content-start mb-4">
                                    <img style="border-radius: 50%; object-fit: cover; object-position: center center;" class="rounded-circle account-img" src="{{ message.user.profile.image.url }}" width="45px" height="45px" alt="{{ message.user.username }} Profile">
                                    <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(56, 192, 237, .2);">
                                        <p class="small mb-0">{{ message.content }}</p>
                                    </div>
                                </div>
                                <small>{{ message.timestamp }}</small>
                                {% endif %}
                        {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    
        
        {% load crispy_forms_tags %}
        <div class="row">
            <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Add Message</legend>
        
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}